 
table,tr,td{
    padding: 0.8rem;

}

#btn{
    
    border: 1px solid black;
    width: 3rem;
    height:6vh;
    background-color: silver;
    box-shadow: 5px 5px 5px  silver;
}
#btn:hover{
    background-color: gray;
}
#eq{
    border: 1px solid black; 
     width: 3rem;
     height:6vh;
     background-color: silver;
     box-shadow: 5px 5px 5px silver;
}
#eq:hover{
    background-color: gray;
}
#d{
    border: 1px solid black;
    width: 3rem;
    box-shadow: 5px 5px 5px silver;
    height:6vh;
    background-color: silver;
}
#d:hover{
    background-color: gray;
}
#inp{
    height: 7vh;
    box-shadow: 2px 2px 2px silver;
    background-color:whitesmoke;
    border: 1px solid gray;
}
.bor{
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 1px gray;
}
